{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>李玖懿的博客</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
 <div class="container">
     <div class="row">
         <nav class="nav navbar-default navbar-fixed-top navbar-inverse" role="navigation">
             <a href="#" class="navbar-brand ">李玖懿的博客</a>
             <div id="navbar" class="collapse navbar-collapse">
                 <ul id="mytab" class="navbar-nav nav">
                     <li ><a href="{% url 'index' %}">Home</a></li>
                     <li ><a href="{% url 'learn' %}">技术随笔</a></li>
                     <li ><a href="{% url 'life' %}">生活笔记</a></li>
                     <li ><a href="">关于自己</a> </li>
                 </ul>
             </div>
         </nav>
     </div>
 </div>
 <br>
 <br>
 <br>
 <br>
 <br>
 <div class="container">
     <div class="row">
         <div class="col-md-8">
             <h3>{{ blog.title }}
                 <small>
                     <p class="text-right"><span class="glyphicon glyphicon-folder-close" aria-hidden="true">{{ blog.category }}</span></p>
                     <p class="text-right"><span class="glyphicon glyphicon-time" aria-hidden="true">{{ blog.created_time }}</span></p>
                 </small>
             </h3>
             <p>{{ blog.content|safe }}</p>
             <hr>
             <p class="text-right">阅读量：{{ blog.view_count }}</p>
         </div>
         <div class="col-md-4">
             <p>标签：</p>
             {% for tag in tags %}
                 <span class="label label-primary ">{{ tag }}</span>
             {% endfor %}
             <hr>
         <blockquote>
             <p>天涯远不远？不远！人就在天涯，天涯怎么会远？</p>
             <footer>古龙 <cite title="Source Title">《天涯明月刀》</cite></footer>
         </blockquote>
         <hr>
         <p>分类：</p>
         <a href="{% url 'learn' %}">技术随笔（{{ blog_category_learn }}）</a>
         <br>
         <a href="{% url 'life' %}">生活笔记（{{ blog_category_life  }}）</a>
         </div>
     </div>
 </div>
</body>
</html>




