<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <input type="hidden" name="form-TOTAL_FORMS" value="1" id="id_form-TOTAL_FORMS" /><input type="hidden" name="form-INITIAL_FORMS" value="0" id="id_form-INITIAL_FORMS" /><input type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS" /><input type="hidden" name="form-MAX_NUM_FORMS" value="1000" id="id_form-MAX_NUM_FORMS" />
    <tr><th><label for="id_form-0-name">昵称:</label></th><td><input type="text" name="form-0-name" maxlength="20" id="id_form-0-name" /></td></tr>
    <tr><th><label for="id_form-0-email">电子邮件:</label></th><td><input type="email" name="form-0-email" maxlength="254" id="id_form-0-email" /></td></tr>
    <tr><th><label for="id_form-0-comment">评论:</label></th><td><textarea name="form-0-comment" cols="40" rows="10" id="id_form-0-comment">
    </textarea><input type="hidden" name="form-0-id" id="id_form-0-id" /></td></tr>


</form>
</body>
</html>